<li class="repo-card" th:each="post, stat : ${posts.items}" th:if="${stat.index < 4}">
  <div class="repo-card-header">
    <h3 class="repo-name">
      <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}">Article title</a>
    </h3>
    <span class="repo-visibility" th:if="${not #lists.isEmpty(post.tags)}">
      <a
        th:each="tag, tagStat : ${post.tags}"
        th:if="${tagStat.first}"
        th:href="@{${tag.status.permalink}}"
        th:text="${tag.spec.displayName}"
      ></a>
    </span>
    <span class="repo-visibility" th:unless="${not #lists.isEmpty(post.tags)}">无标签</span>
  </div>
  <p class="repo-desc" th:text="${post.status.excerpt ?: '暂无文章摘要'}">暂无文章摘要</p>
  <div class="repo-meta">
    <span class="language-dot"></span>
    <span th:if="${not #lists.isEmpty(post.categories)}">
      <a
        th:each="cat, catStat : ${post.categories}"
        th:if="${catStat.first}"
        th:href="@{${cat.status.permalink}}"
        th:text="${cat.spec.displayName}"
      ></a>
    </span>
    <span th:unless="${not #lists.isEmpty(post.categories)}">未分类</span>
  </div>
</li>
