<include
  src="layout.html"
  activeHome=""
  activePosts=""
  activeProjects="is-active"
  activePackages=""
>
  <template name="head">
    <title th:text="|${category.spec.displayName} - ${theme.config.basic.title ?: site.title}|">
      Category Archive
    </title>
  </template>

  <h1 th:text="|Category: ${category.spec.displayName}|"></h1>
  <p th:if="${category.spec.description}" th:text="${category.spec.description}"></p>

  <ul class="post-list">
    <include src="post-card.html"></include>
  </ul>

  <include src="pagination.html"></include>
</include>
